<p> Empty order form: </p>
<form method="post" action="/pizza_orders">
  <label for="first_name"> First name:</label>
  <input type = "text" id="first_name" name ="first_name"  />
  <label for="last_name"> Last name:</label>
  <input type = "text" id="last_name" name ="last_name"  />

  <label for="topping"> Topping type:</label>
  <select id = "topping name" name ="topping">
    <option value ="pepperoni">Pepperoni </option>
    <option value ="hawaian">Hawaian </option>
    <option value ="veggie">Veggie</option>

    </select>

  <label for="quantity"> Quantity:</label>
  <input type = "number" id="quantity" name ="quantity" />


  <input type = "submit" value="Order Pizza!" />

</form>
